# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.env/
venv/
ENV/
env.bak/
*.venv

# Distribution / packaging
*.egg-info/
*.egg
*.manifest
*.spec

# Pytest cache
.pytest_cache/

# Logs and databases
*.log
*.sqlite3
*.db

# VS Code settings
.vscode/

# MacOS / Linux system files
.DS_Store
*.swp
*.swo

# Python pip environment
pip-wheel-metadata/